html {
  font-size: 18px;
  line-height: 1.4;
}

.banner {
  height: 30rem;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
